.App {
  text-align: center;
}

body {
  
      background-color: #EEE;
  
}

#img1 {
  
      background: url("bg.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 75vh;
      margin-bottom: 50px;
  
}

.headerblock {
  
      margin-top: 15%;
  
  }

.headerblock > h1 {
  
      font-size: 64px;
      color: #FFF;
      text-align: center;
  
  }
  
  .headerblock > p {
      
          font-size: 32px;
          color: #FFF;
          text-align: center;
      
  }
